Q1. What is a database? Differentiate between SQL and NoSQL databases.  
A database is a systematic or organized collection of related information that is stored in such a way that it can be easily accessed, retrieved, managed, and updated.  
It is where all data is stored.  n a database, you can organize the data in rows and columns in the form of a table.  
Indexing the data makes it easy to find and retrieve it again as and when required.   
Many websites on the World Wide Web are managed with the help of databases.  
##SQL  
  * Stands for Structured Query Language
  * Relational database management system (RDBMS)
  *  Suitable for structured data with predefined schema
  * Data is stored in tables with columns and rows
  * Follows ACID properties (Atomicity, Consistency, Isolation, Durability) for transaction management
  * Supports JOIN and complex queries
  * Uses normalized data structure
  * Requires vertical scaling to handle large volumes of data
  * Examples: MySQL, PostgreSQL, Oracle, SQL Server, Microsoft SQL Server  
##NOSQL

  * Stands for Not Only SQL
  * Non-relational database management system
  * Suitable for unstructured and semi-structured data
  * Data is stored in collections or documents
  * Does not necessarily follow ACID properties
  * Does not support JOIN and complex queries
  * Uses denormalized data structure
  * Horizontal scaling is possible to handle large volumes of data
  * Examples: MongoDB, Cassandra, Couchbase, Amazon DynamoDB, Redis

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.  
Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects.  
These database objects include schemas, tables, views, sequences, catalogs, indexes, and aliases.  
##CREATE
Creating a database
The following example demonstrates how the CREATE query can be used to create a database in MS SQL Server:

CREATE DATABASE test;
The script above creates a database named “test” in MS SQL Server.

Creating a table
The CREATE query is also used to add tables in an existing database as shown in the following script:
    
    CREATE TABLE test_table (C1 INT C2 VARCHAR(50))
    
##ALTER
The ALTER command in SQL DDL is used to modify the structure of an already existing table.
The ALTER TABLE command adds, deletes, or modifies columns in a table.

The ALTER TABLE command also adds and deletes various constraints in a table.

    ALTER TABLE test_table
    ADD C3 VARCHAR(100);
    ALTER COLUMN C2 INT;

##DROP
The DROP command is a type of SQL DDL command, that is used to delete an existing database or an object within a database.  
Deleting a database
The following DROP command deletes the "test" database that we created earlier:

DROP DATABASE test;

Deleting a table
The DROP command is a type of SQL DDL command that is used to delete an existing table. For instance, the following command will delete the test_table:

DROP TABLE test_table;

##TRUNCATE
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.  
TRUNCATE TABLE test_table;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.  
Data Manipulation Language (DML) commands in SQL deal with the manipulation of data records stored within the database tables.  
It does not deal with changes to database objects and their structure. The commonly known DML commands are INSERT, UPDATE, and DELETE.

INSERT commands in SQL are used to insert data records or rows in a database table.  
In an INSERT statement, we specify both the column_names for which the entry has to be made along with the data value that has to be inserted.  

    INSERT INTO Marks(Physics, Maths, Chemistry)
    VALUES(68, 72, 85);  

UPDATE  
This command is used to make changes to the data in the table.

    UPDATE Marks
    SET Physics=70
    WHERE Physics=68;

DELETE  
This command is used to remove a row from a table
 
    DELETE FROM Marks
    WHERE Physics=70;

Q4. What is DQL? Explain SELECT with an example.  
DQL(Data Query Language): Data query language consists of only one command upon which data selection in SQL relies. The SELECT command in combination with other SQL clauses is used to retrieve and fetch data from databases/tables based on certain conditions applied by the user.  

The SELECT statement is used to select data from a database.  

     SELECT Maths FROM Marks;
The following SQL statement selects all the columns from the "Customers" table:
 
    SELECT * FROM Marks;

Q5. Explain Primary Key and Foreign Key.  
Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.   
Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.  

import mysql.connector

mydb = mysql.connector.connect(  
  host="localhost",  
  user="abc",  
  password="password"  
)  
print(mydb)  

cursor:A cursor is an object which helps to execute the query and fetch the records from the database  

The execute () method helps us to execute the query and return records according to the query.  
      
      mycursor = mydb.cursor()
      mycursor.execute("SHOW DATABASES")

Q7. Give the order of execution of SQL clauses in an SQL query.  
SQL queries are made up of one or more clauses. A particular order must be followed to execute these clauses to obtain correct results.  
This order of execution is known as SQL query execution order. SQL query execution order means optimizing our search results from the database or where the query clauses are evaluated according to the requirements.

|Order	|Clause|	Function|
|------|-------|-------------|
|1|	FROM|	Tables are joined to get the base data.|
|2|	WHERE|	The base data is filtered.|
|3|	GROUP BY|	The filtered base data is grouped.|
|4|	HAVING|	The grouped base data is filtered.|
|5|	SELECT|	The final data is returned.|
|6|	ORDER BY|	The final data is sorted.|
|7|	LIMIT|	The returned data is limited to row count.|