In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
a=[4, 8, 15, 16, 23, 42]
b=pd.Series(a)
print(b)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
lst=[1, 343, 464, 'apple', 3435, 332.2, 'banana',343, 455, 139 ]
var=pd.Series(lst)
print(var)

0         1
1       343
2       464
3     apple
4      3435
5     332.2
6    banana
7       343
8       455
9       139
dtype: object

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
data={'Name':['Alice', 'Bob', 'Claire'], 'Age':[25, 30, 27],"Gender":['Female', 'Male', 'Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.   
A pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. It can also be thought of as a collection of two or more series with common indices. 
Series can only contain a single list with an index, whereas Dataframe can be made of more than one series or we can say that a Dataframe is a collection of series that can be used to analyze the data.

In [6]:
products=['apple', 'banana', 'mango','kiwi']
series1=pd.Series(products)
print(series1)

0     apple
1    banana
2     mango
3      kiwi
dtype: object

In [7]:
prices=['100', '30', '150','250']
series2=pd.Series(prices)
print(series2)

0    100
1     30
2    150
3    250
dtype: object

In [10]:
df=pd.DataFrame([series1, series2])
print(df)

       0       1      2     3
0  apple  banana  mango  kiwi
1    100      30    150   250

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
1. Read Data  
We can read data in pandas data frame as read_csv(). Two most used data read formats are csv and excel.  
df=pd.read_csv('May expenses".csv)
2. Head and Tail  
To see the data frame we can use df.head(). Head returns the first rows, if no input is given it will always show above 5 rows. In contrast to see below rows, we can use df.tail().  
df.head(3)
df.tail(3)
3. Shape, Size and Info    
Two most basic functions after reading data is to know the number of rows and columns, and to know the datatype of variables. We can use df.shape, it gives a total number of rows and then columns. df.size() returns the number of rows times number of columns in the data frame. We can also use df.info(), from that we get different information such as rows from RangeIndex, Data columns and then data type of each column.  
df.shape   
df.info()   
4. isna  
if one needs to get the total number of null values in a data, we can use df.isna() as below. Sum will give the total null values. If we want just one variable null values, we can also get it by giving the name of the variable as below.   
df.isna().sum()   
df.price.isna().sum()   
5. Describe   
Then to understand basic statistics of variables we can use df.describe(). It will give you count, mean, standard deviation, and also 5 number summary.  
df.describe()
6. Nunique
To get the total unique values of variables, we can use df.nunique(). It will give all the unique values a variable contains.   
df.Nunique()  
7. Columns  
To know the names of all the variables in a data frame, we can use df.columns.    
df.columns()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?   

Series     
The values of the series are mutable means we can change any value in series, but the size of the series is immutable so we can not change the size of the series.   
Dataframe   
A DataFrame size is mutable and data is also mutable so we can change the data and size of DataFrame at any time.  
Panel   
Panel Data and size are mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [17]:
name = pd.Series(['A', 'B', 'C', 'D', 'E'], name='name')
points = pd.Series([34, 20, 21, 57, 68], name='points')
assists = pd.Series([8, 12, 14, 9, 11], name='assists')

In [18]:
df=pd.DataFrame([name,points, assists])

In [19]:
df

          0   1   2   3   4
name      A   B   C   D   E
points   34  20  21  57  68
assists   8  12  14   9  11